<?xml version="1.0" encoding="UTF-8"?>
<component name="Drop Down Tree Menu v3">
    <data>
        <main childStyle="style1">
            <item title="Home" childStyle="style2" function="menu_basic(home)"></item>
            <item title="Company" childStyle="style2">
                    {% autoescape off %}
                    {% for company in company_list %}
                    <item title="{{ company.title }}" function="menu_company({{ company.name }})"/>
                    {% endfor %}
                    {% endautoescape %}
            </item>
            <item title="Program" childStyle="style3">
                    {% autoescape off %}
                    {% for prog in program %}
                     <item title="{{prog.base.title}}">
                         {% for series in prog.series %}
                             <item title="{{series.series.title}}">
                             {% for car in series.cars %}
                                <item title ="{{car.title}}" function="menu_program({{car.name}})" />
                             {% endfor %}
                             </item>
                         {% endfor %}
                     </item>
                    {% endfor %}
                    {% endautoescape %}
            </item>
            <item title="Vehicles" function="menu_load(shop)"/>
            <item title="Events" childStyle="style3">
                    <item title="Essen">
                            <item title="Essen 2006" function="menu_events(essen, 2006)"/>
                            <item title="Essen 2007" function="menu_events(essen, 2007)"/>
                    </item>
                    <item title="Waterfest">
                            <item title="Waterfest 2003" function="menu_events(waterfest, 2003)"/>
                    </item>
                    <item title="Hockenheim">
                    </item>
                    <item title="Sweden">
                    </item>
                    <item title="Japan SIS">
                    </item>
            </item>
            <item title="Press" childStyle="style3">
                    <item title="Publications" function="menu_load(publications)" />
                    <item title="Photographers" childStyle="style3">
                            <item title="Joost" function="menu_load(joost)"/>
                            <item title="Tony" function="menu_load(tony)"/>
                    </item>
                    <item title="Press Login" function="menu_load(login)" />
            </item>
            <item title="News" childStyle="style2" function="menu_load(news)" />
            <item title="Contact Us" childStyle="style2" function="menu_load(contact)" />
        </main>
    </data>
    
    <styles>
        <style1>
            <itemSpacing>17</itemSpacing>
            <barIconSpacing>2</barIconSpacing>
            <popIconSpacing>16</popIconSpacing> 
            <fixedSize>true</fixedSize>
            <folderIconId></folderIconId>
            <itemHeight>35</itemHeight>
            <textFormat>
                <font>Eurostile</font>
                <size>16</size>
                <color>0xFFFFFF</color>
            </textFormat>
            <parts>
                <left>DDM_OrangeD1_style1_left</left>
                <right>DDM_OrangeD1_style1_right</right>
                <hseparator>DDM_OrangeD1_style1_hseparator</hseparator>
                <vseparator>DDM_OrangeD1_style1_vseparator</vseparator>
                <top>DDM_OrangeD1_style1_top</top>
                <bottom>DDM_OrangeD1_style1_bottom</bottom>
                <folderIconId>DDM_OrangeD1_style1_folderIcon</folderIconId>
            </parts>            
            <states>
                <up>
                    <mcLinkageId>DDM_OrangeD1_style1_up</mcLinkageId>
                </up>
                <over>
                    <mcLinkageId>DDM_OrangeD1_style1_over</mcLinkageId>
                </over>
                <down>
                    <mcLinkageId>DDM_OrangeD1_style1_down</mcLinkageId>
                </down>
                <selected>
                    <mcLinkageId>DDM_OrangeD1_style1_selected</mcLinkageId>
                </selected>
                <disabled>
                    <textFormat>
                        <color>0x666666</color>
                    </textFormat>
                    <mcLinkageId>DDM_OrangeD1_style1_disabled</mcLinkageId>
                </disabled>
            </states>
        </style1>
        <style2>
            <itemSpacing>0</itemSpacing>
            <barIconSpacing>9</barIconSpacing>
            <popIconSpacing>6</popIconSpacing> 
            <fixedSize>false</fixedSize>
            <folderIconId>DDM_OrangeD1_style2_folderIcon</folderIconId>
            <itemHeight>30</itemHeight>
            <textFormat>
                <font>Eurostile</font>
                <size>14</size>
                <color>0xFFFFFF</color>
            </textFormat>
            <parts>
                <left>DDM_OrangeD1_style2_left</left>
                <right>DDM_OrangeD1_style2_right</right>
                <hseparator>DDM_OrangeD1_style2_hseparator</hseparator>
                <vseparator>DDM_OrangeD1_style2_vseparator</vseparator>
                <top>DDM_OrangeD1_style2_top</top>
                <bottom>DDM_OrangeD1_style2_bottom</bottom>
                <folderIconId>DDM_OrangeD1_style2_folderIcon</folderIconId>
            </parts>            
            <states>
                <up>
                    <mcLinkageId>DDM_OrangeD1_style2_up</mcLinkageId>
                </up>
                <over>
                    <mcLinkageId>DDM_OrangeD1_style2_over</mcLinkageId>
                </over>
                <down>
                    <mcLinkageId>DDM_OrangeD1_style2_down</mcLinkageId>
                </down>
                <selected>
                    <mcLinkageId>DDM_OrangeD1_style2_selected</mcLinkageId>
                </selected>
                <disabled>
                    <textFormat>
                        <color>0x666666</color>
                    </textFormat>
                    <mcLinkageId>DDM_OrangeD1_style2_disabled</mcLinkageId>
                </disabled>
            </states>
        </style2>
        <style3>
            <itemSpacing>8</itemSpacing>
            <barIconSpacing>2</barIconSpacing>
            <popIconSpacing>6</popIconSpacing> 
            <fixedSize>true</fixedSize>
            <folderIconId>DDM_OrangeD1_style3_folderIcon</folderIconId>
            <itemHeight>30</itemHeight>
            <textFormat>
                <font>Eurostile</font>
                <size>14</size>
                <color>0xFFFFFF</color>
                </textFormat>
            <parts>
                <left>DDM_OrangeD1_style3_left</left>
                <right>DDM_OrangeD1_style3_right</right>
                <hseparator>DDM_OrangeD1_style3_hseparator</hseparator>
                <vseparator>DDM_OrangeD1_style3_vseparator</vseparator>
                <top>DDM_OrangeD1_style1_top</top>
                <bottom>DDM_OrangeD1_style3_bottom</bottom>
                <folderIconId>DDM_OrangeD1_style3_folderIcon</folderIconId>
            </parts>            
            <states>
                <up>
                    <mcLinkageId>DDM_OrangeD1_style3_up</mcLinkageId>
                </up>
                <over>
                    <mcLinkageId>DDM_OrangeD1_style3_over</mcLinkageId>
                </over>
                <down>
                    <mcLinkageId>DDM_OrangeD1_style3_down</mcLinkageId>
                </down>
                <selected>
                    <mcLinkageId>DDM_OrangeD1_style3_selected</mcLinkageId>
                </selected>
                <disabled>
                    <textFormat>
                        <color>0xFF6400</color>
                    </textFormat>
                    <mcLinkageId>DDM_OrangeD1_style3_disabled</mcLinkageId>
                </disabled>
            </states>
        </style3>   
    </styles>
</component>
